.MiniProfileMain{
    /* background-color: aquamarine; */
    width: 300px;
    padding-top: 20px;
    padding-left: 20px;
    position:sticky;
    top: 83px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.userProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    overflow: hidden;
}
.profilewrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.namesection{
    padding-left:20px ;
}
.userId{
    margin-top: 0;
    line-height: 0;
}
.username{
    line-height: 0;
    font-size: 14px;
    opacity: 0.6;
}
.signinout{
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 550;
    color: #0095f6;
    cursor: pointer;

}