.container {
  padding: 0 0rem;
}
.beforeSignin{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signinBtn{
  padding: 10px;
  margin-top: 100px;
  background-color: #4285F4;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 510;
  cursor: pointer;
  /* border-top: 3px solid #DB4437;
  border-left: 3px solid #F4B400;
  border-bottom: 3px solid #4285F4;
  border-right: 3px solid #0F9D58; */

}
